/* 
===========
Simple Chat
===========
*/

/* Reset css */

html {
    font-size: 16px;
}

body {
    margin: 0;
    background: rgb(255, 251, 251);

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

/* 
Chat Page 
===================
*/

.chat-page {
    width: 100%;
    margin-top: 25px;
}

/* 
Container
===================
*/

.container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;

}

.chat-container {
    width: 100%;
    max-width: 700px;

    margin: 0 auto;
}

.chat-title {
    text-align: center;
    background: linear-gradient(to bottom,#001746,#230075);
    
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;

    max-height: 100px;

    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
}

.form {
    margin: 20px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.form-content {
    display: flex;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 500;
}

.form-prepend,.form-input, .form-append {
    margin: 0;

    text-align: center;
}

.form-prepend, .form-input, .form-input-button {
    padding: 14px;
}

.form-prepend {
    background: crimson;
    color: #fff;
    
    border-radius: 10px 0 0 10px;
}

.form-input {
    border: 1px solid crimson;
    display: block;
    max-height: 51px;

    font-size: 1.2rem;
    font-weight: 500;

    outline: none;
    flex-grow: 2;
}

.form-input:focus {
    background-color: rgb(244, 255, 244);
}

.form-input-button {
    border-radius: 0 10px 10px 0;
    border: none;
    max-height: 52px;

    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background: crimson;
    outline: none;
}

.form-input-button:hover{
    background: rgb(204, 6, 46);
    cursor: pointer;
}

.chat-box {
    margin-top: 20px;
    height: 455px;
    width: 100%;

}

.chat-box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom,#001746,#230075);

    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;

    text-align:center;
    padding: 10px;


    border-radius: 10px 10px 0 0;
}

.chat-box-content {
    width: 100%;
    height: 395px;
    overflow-y: scroll;
    padding: 10px;

    border: 1px solid #1700FF;
    border-radius: 0 0 10px 10px;
}

.user-avatar {
    width: 45px;
    height: 45px;

    background-image: url("../img/user-avatar.svg");
    background-size: cover;
}

.user-message-block {
    margin-top: 20px;
    display: flex;
}

.user-message-block:last-child {
    margin-bottom: 20px;
}

.user-message {
    margin-left: 10px;
}

.user-message-title {
    margin-bottom: 5px;
    color: blue;
}

.message-date {
    color: black;

    font-size: 0.7rem;
}

.user-message-content {
    max-width: 600px;
    background: rgb(64, 165, 179);
    overflow: auto;

    border-radius: 5px;
    padding: 10px;
}

form:last-child {
    margin-bottom: 20px;
    margin-top: 20px;
}


/* 
Media
===================
*/

@media (max-width: 740px) {

    .chat-page {
        max-height: 100vh;
    }

    .chat-title {
        margin: 0 10px;
    }

    .chat-container {
        padding: 10px;
    }

    /* Forms */

    .form-prepend,
    .form-input-button {
        font-size: 1rem;
    }

    .form-input {
        max-height: 47px;
    }
}

@media (max-width: 500px) {
    .form-prepend,
    .form-input,
    .form-input-button {
        font-size: 0.5rem;
    }

    .form-input {
        max-height: 38px;
    }
}
